/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #194468;
    overflow: auto;
    position: fixed;
    top: 0px;
  
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    justify-content: space-around;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    


  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  
  /* Current/active navbar link */
  .active {
    background-color:black;
  }
 
  h4{
    font-weight: 20;
   }
   
  .body1{
      margin-top: 60px;
     margin-left: 23.1%;
      width: 53.8%;
      margin-right: 23.1%;
      

  }
  .body1 div{
    border: solid grey .5px;
    
  }
 .p1 h4{
    padding: 0px;
  }
  .p2{
    padding: 12px;
  }
  .p3{
    padding: 12px;
  }

  .p2 i{
      font-size: 50px;
  }
  .reactions i{
      font-size: 30px;
  }
  .reactions i{
      padding: 12px;
      width: 20px;
  }
  .reactdes{
      line-height: 3px;
  }
  button:hover{
      background-color:rgb(39, 121, 197);
  }
  button{
      width: 22%;
  }
  .reactdes i{
    padding: 2px;
    
    
  }
  .image{
      padding: 0px;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    /*.navbar .top  div{
        float: none;
      background-color: #194468;
      overflow: hidden;
      position: fixed;
      top: 0px;
    
    }*/
    .top a{
       
       align-content: center;
       float: left;
       padding: 2%;
       margin: 20%;
       margin-top: 0px;
       margin-left: 1px;
       margin-right: 2px;
       margin-bottom: 0px;
       padding: 1%;

    }

    .down a{
      display: inline;
        border: solid 1px #194468;
        background-color:#194468;
        overflow: hidden;
        position: fixed;
        bottom: 0px;
        

    }
    .down {
       float:left;
       margin: 2%;
       padding:2px;
       
    }
    .navbar a {
        text-decoration: none;
        font-size: 30px;
      }
    
      /* Navbar links on mouse-over */
      .navbar a:hover {
        background-color: #000;
      }
      
      
      /* Current/active navbar link */
      .active {
        background-color:black;
      }
     
      h4{
        font-weight: 20;
       }
       
      .body1{
          margin-top: 60px;
         margin-left: 23.1%;
          width: 53.8%;
          margin-right: 23.1%;
          
    
      }
      .body1 div{
        border: solid grey .5px;
        
      }
     .p1 h4{
        padding: 0px;
      }
      .p2{
        padding: 12px;
      }
      .p3{
        padding: 12px;
       
      }
    
      .p2 i{
          font-size: 50px;
      }
      .reactions i{
          font-size: 30px;
      }
      .reactions i{
          padding: 12px;
          width: 20px;
      }
      .reactdes{
          line-height: 3px;
          margin-bottom: 60px;
      }
      button:hover{
          background-color:rgb(39, 121, 197);
      }
      button{
          width: 22%;
      }
      .reactdes i{
        padding: 2px;
        
        
      }
      .image{
          padding: 0px;
      }
      

    }
  